 /* Global styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f6f6f6;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #f2f2f2;
  margin-bottom: 10px; /* Add a margin at the bottom to separate from the paragraph */
}

header p {
  font-size: 18px;
  color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 25px;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}

.submit-button {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Custom styles for a sleek and modern appearance */
.container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-header {
  text-align: center;
  margin-bottom: 40px;
}

.form-header h1 {
  margin: 0; /* Remove the default margin to center the header text */
  color: #007bff;
}

.form-header p {
  font-size: 16px;
  color: #777;
}

.input-group {
  margin-right:20px;
  position: relative;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  padding: 14px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus {
  background-color: #f2f2f2;
}

.submit-button {
  margin-top: 30px;
  background-color: #333;
  box-shadow: 0 5px 15px rgb(132, 133, 137);
  transition: box-shadow 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(132, 133, 137);
  box-shadow: 0 8px 20px rgb(132, 133, 137);
}
