/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align items to the top of the container */
  margin-top: 50px; /* Add margin to move the container higher on the page */
}

form {
  width: 100%;
  max-width: 600px;
  padding: 20px;

}


.input-step {
  display: none;
    position: relative; /* Use relative positioning */

  height: 100%;
}

.input-step.visible {
  display: block;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(132, 133, 137);
  box-shadow: 0 8px 20px rgb(132, 133, 137);
}

/* Smooth transition animation */
.transitioning {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.transitioning.visible {
  opacity: 1;
  transform: translateY(0);
}
