<!-- footer.html -->
<link rel="stylesheet" href="static/css/footer.css">
<footer>
  <div id="footer-container" class="footer-container">
    <div>
      <p id = "footer-p">Contact Us: <a href="mailto:stefantfeiler@gmail.com">stefantfeiler@gmail.com</a>  and <a href="mailto:christian.feiler2@gmail.com">christian.feiler2@gmail.com</a>.</p>
    </div>
    <div style="margin-top: 20px;">
      
      <p>This site is 100% for entertainment purposes only and does not involve real money betting. If you or someone you know has a gambling problem and wants help, call 1-800 GAMBLER. This service is intended for adult users only.</p>
    </div>
  </div>
</footer>
