{% extends "header.html" %}

{% block title %}SmartBetter Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/css/home.css">
<div class="container">
  <section class="intro-section">
    <h1>Welcome to SmartBetter</h1>
  </section>

  <section class="features-section">
    <h2>Key Features</h2>
    <div class="feature">
      <h3>AI-Powered Predictions</h3>
      <p>We built the software that makes it <b>as easy as possible for you </b>to create tailor made sports betting strategies, leveraging machine learning models and historical data. </p>


        <p>The ML model is trained on a large data set to produce custom made, AI- optimized +EV betting systems.  Sharp bookmaker odds are analyzed to determine the baseline probabilistic market price. Discrepancies between the baseline odds, and available odds on various sports books are quantified to identify scenarios where odds deviate favorably from the fair market price. This represents a +EV edge.
        </p>
        
        <p>
        We are the <b>operating system </b>for you to create, backtest, and run your <b>AI-optimized </b>+EV betting strategy. </p>
        
    </div>
    <div class="feature">
      <h3>Comprehensive Data Analysis</h3>
      <p> By training on a large dataset of past MLB games, the ML model identifies +EV bets and begins recognizing  profitable betting patterns; it then optimizes strategies within user criteria to maximize profitability and win-rate. 
      </p>
    </div>
    <div class="feature">
      <h3>Profitable Sports Picks Made Easy</h3>
      <p>With just a few clicks, you will be able to create your own AI-optimized +EV betting strategies. Produce historical P&L backtests, track live bets, and be notified of bets in real-time through text and on your personal dashboard
      </p>
    </div>
  </section>

  <section class="cta-section">
    <h2>Start Winning with SmartBetter</h2>
    <p>TThank you for beta testing SmartBetter! Take some time to set your preferences, create strategies, track bets and/or place real bets.

      We want your <b>honest feedback</b> on the user experience and potential site improvements. The more you engage with the tool, the more we can improve it.

    </p>
    <a class="cta-button" href="/register">Get Started</a>
  </section>
</div>

<footer>
  <!-- Add footer content here -->
</footer>
</body>
</html>
{% endblock %}
