{% extends "header.html" %}

{% block title %}SmartBetter Home{% endblock %}

{% block content %}


<title>Registration</title>
<link rel="stylesheet" href="static/css/register.css">
<div class="container">
  <header>
    <h1>User Registration</h1>
    <p>Please enter your details below to register.</p>
  </header>

  <form id="registration-form" method="POST" action="/register">
    <div class="input-group">
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="first_name" required>
    </div>

    <div class="input-group">
      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="last_name" required>
    </div>

    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <button type="submit" class="submit-button">Register</button>
  </form>
</div>
</form>

{% endblock %}

